<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TERMS AND CONDITIONS</title>
</head>

<body>
<br/>
<hr/>
<h1>Welcome to USMLE Sapphire!</h1><br/>

Thanks for using our products and services (“Services”). The Services are provided by USMLE Sapphire and its parent company FreshMelonSoda.ca.<br/><br/>

By using our Services, you are agreeing to these terms. Please read them carefully.
<br/><br/>
<br/><br/>
<br/>
<center><b>TERMS &amp; CONDITIONS</b></center>
<hr/>
By using this website, under penalty of perjury, you consent that you:<br/>
<ol>
    <li>Are not affiliated with law enforcement authorities or criminal organization of any country.</li>
    <li>Are will not be employeed or are currently employeed or associated with any competitor companies.</li>
</ol>

<h3>General Policies</h3>
By using this website, you consent that:
<ul>
<li>You will not alter, copy, or redistribute any content on this website.</li>
<li>You will not use any material on this website for personal gain for yourself or anyone affiliated with you.</li>
<li>You will not access any of USMLE Sapphire's systems through unconvential methods other than how it was inended.</li>
</ul>

<h3>Communications</h3>
<ul>
<li>By visiting this site, you consent to receive communications from us electronically. Additionally, you agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement.</li>
<li>You consent that you will not press charges against us based on any communications recieved from us, or any content obtained or seen on this website and/or use such content in the court of law.</li>
</ul>

<h3>Website Policies</h3>
<ul>
<li>No portion of this site may be copied, reproduced, downloaded, transmitted or otherwise used without the prior written consent of USMLE Sapphire. Willful infringement of copyright may result in the award of statutory damages per act of infringement and can include damages of attorneys fees, loss of profit, as well as seizure and destruction of infringing materials, and injunction against further acts of infringement.</li>
<li>Under penalty of perjury, you solemnly affirm that you are not accessing the USMLE Sapphire's web site for the purpose of obtaining information that will be used by yourself or others in any capacity, maliciously or not, against USMLE Sapphire or any of its affiliated companies. This is including against its owners, employees or any other parties associated with USMLE Sapphire.</li>
<li>You have released and discharged all the providers, owners and creators of USMLE Sapphire and website from any and all liability. You also understand that by going to a page on the USMLE Sapphire Website or this server/site whereby this warning page is bypassed, you shall constitute an implicit acceptance of the foregoing terms set written on this page.</li>
</ul>

<h3>Product Descriptions</h3>
<ul>
<li>USMLE Sapphire attempts to be as accurate as possible. However, USMLE Sapphire does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. If a product offered by USMLE Sapphire itself is not as described, your sole remedy is to inform us of it or return it.</li>
</ul>

<h3>Site Policies, Modification, and Severability </h3>
We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.

<h3>Data Collection</h3>
You consent to USMLE Sapphire's usage of all data collected while using our our system.
Information will not be sold or redistributed by USMLE Sapphire, however, we may use the data collected for improving our system or providing additional tailored services in the future.
<hr/>
<br/><br/><br/>
</body>
</html>
